* {
	margin: 0px;
}

.App {
	text-align: center;
}

.navbar {
	background-color: #01ffaa;
	height: 50px;
	text-align: right;
	padding-top: 20px;
	padding-right: 15%;
}

.navbar li {
	display: inline;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.navbar li a {
	color: #505050;
	text-decoration: none;
}

.navbar li a:hover {
	color: #aeadad;
}

.main-img {
	width: 70%;
	text-align: center;
}

.paragraph1 {
	margin: 5px 15%;
	width: 70%;
	text-align: left;
	font-size: 18px;
}
